.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.spacer {
  flex: 1;
}

.logo {
  cursor: pointer;
}

.container {
  flex: 1;
  min-width: 100vw;
  padding: 0;
  margin: 0;
}
